body {
    letter-spacing: 0.5px;
}

.layout-single-column .account-card__title__avatar .account__avatar, .layout-single-column .account-card__title__avatar img, .layout-single-column .account__avatar>img, .layout-single-column .column>.scrollable .status__avatar img, body.embed .detailed-status__display-avatar>img {
    background-color: var(--color-bg);
    border: 0;
    border-radius: 50%;
    box-shadow: inset 0 0 2px hsla(0deg, 0%, 100%, 3%);
}

.layout-single-column .account__header__bar .avatar .account__avatar {
    background-color: transparent;
    border: 0;
}

@media screen and (width >= 890px) {
    body::before {
        z-index: -1;
        content: '';
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: url("~images/bg.webp");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: top center;
        filter: brightness(0.15);
    }

    .status.collapsed:after {
        background: linear-gradient(transparent, var(--background-color));
        bottom: 1px;
        content: "";
        left: 0;
        pointer-events: none;
        position: absolute;
        right: 0;
        top: 30px;
    }

    .status.collapsed .status__content:after {
        background: none;
    }
}
