@font-face {
    font-family: 'Splat2K';
    src: local('Splat2K'),
        url('~fonts/splat2k/Splat2K.woff2') format('woff2'),
        url('~fonts/splat2k/Splat2K.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    size-adjust: 120%;
}
